/* Medidas de boostrap 

Extra small

< 576 px

Small

≥ 576 px

Medium

≥ 768 px

Large

≥ 992 px

Extra Large

≥ 1200 px */

/* !!!!!!!!!RESPONSIVE FONT SIZE!!!!!!!!!!!! */

html {
  font-size: 1em;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2em;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4em;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6em;
  }
}

/* !!!!!!!!!NAVBAR!!!!!!!!!!!! */

.fixedPosition
 {
    position: fixed;
 }

.navbar {
  background-color: rgb(24, 24, 24);
  color: rgb(255, 255, 255)
}

.nav-item{
  font-size: .9em;
}

.navbar-nav .nav-link {
  margin-right: 30px;
  margin-left: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.navbar a img {
  max-height: 22px;
}

.navbar button {
  border: none;
  height: 30px;
  width: 54px;
}

.navbar a {
  color: white !important;
}

.navbar .active {
  color: grey !important;

}

.navbar a:hover {
  text-decoration: none;
  color: grey !important;  
}

#navbar-secondary .nav-item {
  font-size: .8em;
}

@media only screen and (max-width: 951px) {
  
  #navbar-secondary .nav-link{
    margin-right: 18px;
    margin-left: 18px;
    font-size: .9em;
  }

}

@media only screen and (max-width: 864px) {
  
  .navbar-nav .nav-link {
    margin-right: 20px;
    margin-left: 20px;
    padding: 15px 0;
  }

}

@media only screen and (max-width: 767px) {
  
  .fullheight{
    height: 100vh;
  }
  #navbar-secondary .nav-link{
    font-size: 1.1em;
  }
}

/* !!!!!!!!!INDEX.HTML!!!!!!!!!!!! */

/* !!!!!!!!! FULLPAGE !!!!!!!!! */

#section1 {
  background-image: url("../images/gallery/montañas.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#section2 {
  background-image: url("../images/gallery/nubes.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#section3 {
  background-image: url("../images/gallery/pradera.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#section4 {
  background-image: url("../images/gallery/valle.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;}

#section5 {
  background-image: url("../images/gallery/aurora.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



/* BOTON FLOTANTE */
.btn-shop {
    background: linear-gradient(to right, rgba(255, 52, 72, 0.367), rgba(255, 52, 72, 0.867));
    border-radius: 16px !important;
    font-size: 1.2em;
    padding-top: 0% !important;
}

.feedback {
  background: linear-gradient(to right, rgba(255, 52, 72, 0.367), rgba(255, 52, 72, 0.867));
    border-radius: 16px !important;
    font-size: 1.2em;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
}

#mybutton {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

/* TEXTO EN FULLPAGE*/
.ani-title {
    display: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 2em;
}

/* !!!!!!!!!GALERIA.HTML!!!!!!!!!!!! */


.header-hero-black {
  width: 100%;
  margin-top: 70px;
  font-size: 3em;
  color: black;
  font-weight: 600; 
  line-height: 1.2em;
  text-align: center;
}

.header-hero-black h1 {
  margin: 0 auto;
  
}

.header-hero-grey {
  width: 100%;
  margin-top: 70px;
  color: grey;
  font-weight: 600; 
  line-height: 1.2em;
}

.header-hero-grey h1 {
  margin: 0 auto;
  text-align: center;
}

.hr__mod1 {
  height: 4em;
  border: none;
  position: relative;
}


.gallery-opc {
margin-top: 5em;
}

/* TEXTO ANIMADO CAPTION IMAGENES */

.grid-item div {
  display:none;
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%; 
}
.grid-item div p {
  background: rgba(255, 255, 255, 0.567);
}




/* MASONRY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: Poppins, sans-serif; }

/* ---- grid ---- */

.grid {
  background: rgb(255, 255, 255);
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
  width: 33.3333%;
}

.grid-item {
  margin-bottom: 1.2%;
  padding-right: .6%;
  padding-left: .6%;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

/*End Masonry*/

/*MEDIA QUERY FOR MASONRY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media only screen and (max-width: 480px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }

}

@media screen and (max-width: 900px) {
	.grid li {
		width: 50%;
	}
}

@media screen and (max-width: 480px) {
	.grid li {
    width: 100%;
    margin: 0 auto !important;
    float: none !important;
    padding-right: none !important;
    position: static;
  }
  
  .grid img  {
    width: 100%;
    margin: 5px auto;
    float: none;
    padding-right: none;
    position: static;
  }
  
  .grid-item {
    padding-right: 0;
  }
}


/* Effect 8:  */ 
.grid.effect-8 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-8 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
	-webkit-animation: popUp .8s ease-in forwards;
	animation: popUp .8s ease-in forwards;
}

@-webkit-keyframes popUp {
	0% { }
	70% { -webkit-transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; }
	100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes popUp {
	0% { }
	70% { -webkit-transform: scale(1.1); transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}


/* fontawesome */

/* !!!!!!!!!!!!FOTOGRAFIA!!!!!!!!!!! */

.header-hero {
  width: 100%;
  margin-top: 100px;
  font-size: 5em;
  color: white;
  font-weight: 600; 
  line-height: 1.2em;
}

.header-hero h1 {
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 900px) {
.header-hero {
    font-size: 2.5em;
    margin-top: 50px;
  }
}

.fotos {
  margin-top: 85px;
  width: 90%;
}

#navbar-secondary {
  z-index: 1000;
  border-bottom: 0.3px solid #b3b3b3;
  background-color: rgba(0, 0, 0, 0.867)
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .fotos {
  padding-top: 60px;
}

.foto-caption {
  margin: 25px 0 55px 30px; 
  max-height: 40px;
  color: white;
  line-height: 1.8em;
}

.foto-caption h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
}
